.container {
  width: 1440px;
  max-height: none;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 5em 10em;
  -o-object-fit: fill;
  object-fit: fill;
}

.section {
  width: auto;
  max-width: none;
  margin: 0vh 0px;
  padding: 0em;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Public Sans', sans-serif;
  color: #000;
  font-size: 7em;
  line-height: 1;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
}

.h2 {
  margin-top: 40px;
  font-family: 'Public Sans', sans-serif;
  color: #000;
  font-size: 2em;
  line-height: 1;
  text-align: left;
}

.h3 {
  font-family: 'Public Sans', sans-serif;
  font-size: 1em;
  line-height: 1;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.link {
  color: #000;
  font-size: 2em;
  text-align: left;
  text-decoration: underline;
}

.body {
  margin-right: auto;
  margin-left: auto;
  background-color: #f40;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  cursor: auto;
}

.div {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1vw;
  line-height: 1;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.orange {
  background-color: #f40;
}

.green {
  background-color: #00ff40;
}

.red {
  background-color: #ff0004;
}

@media screen and (max-width: 479px) {
  .container {
    display: block;
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .section {
    position: fixed;
    max-width: 100%;
  }

  .h1 {
    margin-right: auto;
    margin-left: auto;
    font-size: 6em;
  }

  .link {
    font-size: 2em;
  }

  .div {
    margin-right: auto;
    margin-left: auto;
    font-size: 7px;
  }
}

